*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    place-content: center;
    place-items: center;
    background-image: url(https://i.pinimg.com/736x/3d/01/7f/3d017f4f7d517ee17018d81515b28b7f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
}
.container{
    width: auto;
    padding: 20px;
    height: auto;
    background-color: rgba(97, 10, 121, 0.416);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
    & .card{
        width: 330px;
        height: 240px;
       
        border-radius: 9px;
    }
    & .card:nth-child(1){
        background-color: white;
        grid-row: span 3;
        height: 500px;
        width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        & .text{
            width: 50%;
            padding: 30px;
            & h1{
                color: rgb(164, 86, 236);
                line-height: 50px;
                font-size: 45px;
            }
        }
        & img{
            width: 100%;
            height: 50%;
            object-fit: contain;
        }
        
    }
    & .card:nth-child(2){
        
        grid-row: span 2;
        grid-column: span 2;
        width: 680px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
    & .card:nth-child(3){
        width: 325px;
        height: 260px;
        background-color: rgb(134, 59, 164);
        & img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-repeat: no-repeat;
        }
    }
    & .card:nth-child(4){
        width: 325px;
        height: 260px;
        & img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-repeat: no-repeat;
        }
    }
    & .card:nth-child(5){
        background-color:  rgb(164, 86, 236);
        grid-row: span 3;
        height: 430px;
        width: 330px;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    & .card:nth-child(6){
        background-color: cornflowerblue;
        height: 170px;
        width: 680px;
        grid-column: span 2;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
    & .card:nth-child(7){
        background-color: burlywood;
        grid-row: span 2;
        grid-column: span 2;
        width: 680px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            background-repeat: no-repeat;
        }

    }
}