*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(4,auto);
    background-color: skyblue;
    display: grid;
    padding: 30px;
    gap: 10px;
    & .card{
        width: 100%;
        height: 100%;
        background-color: navy;
        text-align: center;
        place-content: center;
        font-size: 20px;
    
    }
}
.card:nth-child(1){
    background-color: gold;
    grid-column: span 4;
}
.card:nth-child(2){
    background-color: red;
}
.card:nth-child(3){
    background-color: gold;
    grid-row: span 2;
    grid-column: span 2;
}
.card:nth-child(4){
    background-color: red;
}
.card:nth-child(5){
    background-color: gold;
    grid-row: span 2;
}
.card:nth-child(6){
    background-color: red;
}
.card:nth-child(7){
    background-color: gold;
    grid-column: span 3;
}
