* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e59866, #5d6dbe); 
    padding: 50px;
}

.container {
  width: auto;
  padding: 20px;
  height: auto;
  background-color: rgba(97, 10, 121, 0.416);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;

  .card {
    width: 330px;
    height: 240px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    padding: 20px;
    position: relative;
  }
  & .card:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
    height: auto; 
    width: 680px; 
    display: flex;
    gap: 15px;
   background-image: url(https://i.pinimg.com/1200x/74/04/c6/7404c60f85a3d08550c6e0b3859b2312.jpg);
    
  }
  & .card:nth-child(2) {
    grid-row: span 3;
    height: 500px; 
    width: 330px;
    background-image: url(https://i.pinimg.com/736x/d6/96/16/d696162e9f73381153f2d2c53adfb31f.jpg);
  }
  & .card:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(https://i.pinimg.com/1200x/9f/28/f4/9f28f455be38aabcaa03e7b7ac6110da.jpg);
    width: 680px;
    height: auto;
    background-size: cover;
    display: flex;
    padding: 0; 
  }
  & .card:nth-child(4) {
    width: 330px;
    height: 150px;
  
  }
}