@import url('https://fonts.googleapis.com/css2?family=Moul&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rye&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
     font-family: "Roboto", sans-serif;
    padding-top: 50px;
  width: 100%;
  height: 100vh;
background: #11afed;
background: linear-gradient(90deg,rgba(17, 175, 237, 1) 0%, rgb(66, 65, 65) 63%, rgba(0, 255, 229, 1) 100%);
}

.container {

margin: auto;
  width: 50%;
  height: 70vh;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  & .card {
    width: 300px;
    height: 200px;
    background-color: rgb(17, 7, 7);
    border-radius: 10px;
  }
  & .card:nth-child(1) {
    width: 620px;
    height: 400px;
  background: #e9eef0;
background: linear-gradient(90deg,rgba(233, 238, 240, 1) 0%, rgba(12, 237, 218, 1) 100%, rgba(0, 255, 247, 1) 0%);
    grid-row: span 2;
    grid-column: span 2;
    & .main1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 60px;
        padding: 30px 40px;
        & img{
            width: 50%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        & .txt{
            width: 50%;
            height: auto;

            & h1{
                font-size: 30px;
                line-height: 20px;
                color: white;
            }
            & p{
                margin-top: 20px;
                font-size: 18px;
                color: white;
                line-height: 40px;
            }

            & .icon{
                margin-top: 20px;
                font-size: 25px;
                color: white;
                & #icon:nth-child(1){
                    color: yellow;

                }
                 & #icon:nth-child(2){
                    color: yellow;

                }
                 & #icon:nth-child(3){
                    color: yellow;

                }
                & #icon:nth-child(4){
                    color: yellow;

                }
            }
            & .viewer{
                margin-top: 20px;
                width: 100%;
                height: auto;
                display: flex;
                & img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid white;
                    margin-right: -15px;
                }
                & .txtviewr{
                    width: 50px;
                    height: 50px;
                    background-color: white;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 50px;
                }
            }

        }
    }
  }
  & .card:nth-child(2) {
    height: 600px;
    background: #e6f0f0;
background: linear-gradient(0deg, rgba(230, 240, 240, 1) 0%, rgba(30, 212, 203, 1) 100%);
    grid-row: span 3;
    & .main2{
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        gap: 20px;
        padding: 30px 40px;
       & img{
            width: 50%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        & .txt{
            width: 50%;
            height: auto;

            & h1{
                font-size: 30px;
                line-height: 20px;
                color: white;
            }
            & p{
                margin-top: 20px;
                font-size: 18px;
                color: white;
                line-height: 40px;
            }

            & .icon{
                margin-top: 20px;
                font-size: 25px;
                color: white;
                & .icon:nth-child(1){
                    color: yellow;

                }
                 & #icon:nth-child(2){
                    color: yellow;

                }
                 & #icon:nth-child(3){
                    color: yellow;

                }
                & #icon:nth-child(4){
                    color: yellow;

                }
            }
           

        }
    }
    
    
   
  }
   & .card:nth-child(3) {
     width: 620px;
    height: 400px;
  position: relative;
    background: white;
    grid-row: span 2;
    grid-column: span 2;
    & img{
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 10px 10px 0 0 ;
    }
    & footer{
        width: 100%;
        height: 30%;
        border-radius: 0 0 10px 10px ;
        background-color: white;
    }
    & .main3{
        width: 450px;
        height: 180px;
        
        position: absolute;
        bottom: 10%;
        left: 14%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 10px;
        & .con1{
            width: 100%;
            height: 55%;
            background-color: rgba(255, 255, 255, 0.122);
            backdrop-filter: blur(10px);
            border-radius: 10px 10px 0 0 ;
            & h1{
                font-size: 25px;
                color: white;
                text-align: center;
                
            }
            & h3{
                font-size: 15px;
                color: white;
                text-align: center;
            }
        }
        & .con2{
            width: 100%;
            height: 45%;
            background-color: white;
            border-radius: 0 0 10px 10px ;
            align-items: center;
            display: flex;
            justify-content: space-around;
            * P{
                font-size: 17px;
                font-weight: 600;
                color: black;
            }
        }
    }
  }

  & .card:nth-child(4) {
    background: #00fcf8;
    background: linear-gradient(0deg,rgba(0, 252, 248, 1) 0%, rgba(255, 255, 255, 1) 100%);
    & .main4{
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        gap: 20px;
        padding: 30px 40px;
       & img{
            width: 100px;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
  }
}