* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    place-content: center;
    place-items: center;
    background-color: rgb(147, 113, 113);
}
.container{
    width: 600px;
    height: 320px;
    margin: auto;
    background-color: brown;
    & .card ;
        
    }

 .box {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 60%;
    top: 10px;
    & img {
         width: 100%;
         height: 100%;
         border-radius: 50%;
         object-fit: cover;
        }
    }
 .box::after, .box::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    padding: 10px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: conic-gradient(from var(--angle) at center, red, yellow, lime, aqua, blue, magenta, red);
    animation: spin 3s linear infinite;
 }

 .box::before {
    content: ;
    width: 100%;
    height: 100%;
    filter: blur(20px);
 }

 @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
 }

 @keyframes spin {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
 }
}