body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #3b8d99, #6b6b83, #aa4b6b);
    font-family: sans-serif;
}