*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 100px;
    width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.box{
    width: 300px;
    height: 300px;
    background-color: deeppink;
}
.box:first-child{
    background-color: coral;
}
.box:nth-child(2){
    background-color: red;
    width: 300px;
}
.box:nth-child(3):hover{
    background-color: royalblue;
}
.box:nth-child(4):active{
    background-color: yellow;
    cursor: pointer;
}