*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    place-content: center;
    place-items: center;
}
.box{
    width: 500px;
    height: 500px;
    background-color: yellow;
}
.box:nth-child(1){
    background-color: blue;
    position: sticky;
    top: 0;
}