*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Gravitas+One&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
p{
    font-size: 80px;
    font-family: "Roboto", sans-serif;
    font-weight: 700px;
    color: blueviolet;
    text-shadow: 5px 5px 5px black;
}