@import url("https://fonts.googleapis.com/css2?family=Moul&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Koulen&family=Moul&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rye&display=swap");
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
:root {
--primary-color: rgb(19, 139, 251);
--primary-font: "Bokor", system-ui;
}
body {
width: 100%;
height: auto;
font-family: "Roboto", sans-serif;
}
.navbar {
position: sticky;
top: 0;
z-index: 100;
width: 100%;
height: 10vh;
background-color: white;
box-shadow:
rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 30px;
& .logo {
width: auto;
height: auto;
display: flex;
align-items: center;
& img {
width: 90px;
height: 90px;
cursor: pointer;
}
& h4 {
font-size: 20px;
cursor: pointer;
}
}
& ul {
width: auto;
height: auto;
display: flex;
align-items: center;
gap: 50px;
& li {
list-style: none;
& a {
text-decoration: none;
font-size: 20px;
color: black;
}
& a:hover{
  transition: 0.7s all;
  background-color: white;
  color: red;
}
}
}

& .btn {
width: auto;
height: auto;
display: flex;
gap: 15px;
& button {
background-color: var(--primary-color);
padding: 9px 20px;
font-size: 19px;
border-radius: 5px;
color: white;
font-weight: 500;
border: none;
cursor: pointer;
}
& button:nth-child(1) {
background-color: rgba(128, 128, 128, 0.559);
}
& button:nth-child(1):hover{
  transition: 0.7s all;
  background: rgb(70, 70, 70);
}
& button:nth-child(2) {
background-color: blue;
}
& button:nth-child(2):hover{
  transition: 0.7s all;
  background: rgb(5, 5, 85);
}
}
}

.hero-section {
width: 90%;
height: 80vh;
background-color: brown;
margin: auto;
margin-top: 40px;
border-radius: 20px;
background-image: url(https://blog.bangkokair.com/wp-content/uploads/2024/07/visiting-angkor-wat-guide.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
place-content: center;
place-items: center;

& .txt {
width: 60%;
height: auto;
& h1 {
color: white;
font-size: 65px;
text-align: center;
font-family: var(--primary-font);
line-height: 140px;
}
& p {
font-family: var(--primary-font);
color: rgb(211, 204, 204);
font-size: 30px;
text-align: center;
}
}
& .acrtion-bar {
width: 70%;
height: 12vh;
background-color: rgba(255, 255, 255, 0.838);
margin-top: 50px;
border-radius: 15px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 45px;
& .block {
width: auto;
height: auto;
display: flex;
align-items: center;
gap: 15px;
& #icon {
font-size: 30px;
color: gray;
}
& p {
font-size: 25px;
color: gray;
}
}
& .block:nth-child(4) {
& button {
padding: 13px 25px;
background-color: var(--primary-color);
color: white;
font-size: 22px;
font-weight: 500;
border: none;
border-radius: 8px;
& #icon-serach {
color: white;
padding-right: 20px;
}
}
}
}
}

.main-contain {
width: 90%;
height: auto;
margin: auto;
margin-top: 30px;
& .title {
width: 100%;
height: auto;
display: flex;
justify-content: space-between;
align-items: center;
& h1 {
font-family: var(--primary-font);
padding-bottom: 7px;
}
& p {
font-size: 25px;
color: gray;
font-family: var(--primary-font);
}
& .link{
width: auto;
height: auto;
& a{
font-size: 18px;
text-decoration: none;
color: var(--primary-color);
}
& a:hover{
  transition: 0.7s all;
  background-color: rgb(255, 255, 255);
  color: red;
}
}

}

& .contain{
width: 100%;
height: auto;
display: grid;
grid-template-columns: repeat(3,auto);
gap: 50px;
margin-top: 30px;
& .card{
transition: 0.3s all;
width: 100%;
height: auto;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius: 10px;
padding-bottom: 15px;
& img{
width: 100%;
height: 280px;
object-fit: cover;
border-radius: 10px 10px 0px 0px;
}
& .card-title{
width: 100%;
height: auto;
padding: 10px;
& h3{
font-size: 23px;
padding-bottom: 5px;
font-family: var(--primary-font);
}
& p{
color: gray;
font-size: 19px;
font-family: var(--primary-font);
}

& .txt-price{
width: 100%;
height: auto;
margin-top: 15px;
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 20px;
& p{
color: var(--primary-color);
font-weight: 500;
}
& #icon{
background-color: rgba(196, 188, 188, 0.357);
padding-top: 8px;
padding-left: 1px;
width: 40px;
height: 40px;
border-radius: 50%;
font-size: 28px;
}
}
}
}

& .card:hover{
transition: 0.3s all;
transform: scale(1.05);
}
}
}

.travel-categories{
width: 90%;
height: auto;
margin: auto;
margin-top: 40px;
& h2{
text-align: center;
font-family: var(--primary-font);
padding-bottom: 10px;
font-size: 30px;
}
& p{
text-align: center;
font-family: var(--primary-font);
padding-bottom: 20px;
font-size: 20px;
color: gray;
}
& .item-catecgories{
width: 100%;
height: auto;
display: grid;
grid-template-columns: repeat(4,auto);
gap: 30px;
& .card-item{
height: 230px;
width: 100%;
background-color: white;
border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
text-align: center;
place-content: center;

& #icon{
width: 65px;
height: 65px;
background-color: rgba(168, 217, 242, 0.744);
border-radius: 50%;
padding-top: 17px;
font-size: 25px;
color: var(--primary-color);
}
& p{
color: black;
margin-top: 10px;
}
}
& .card-item:nth-child(1):hover{
  transition: 0.3s all;
  transform:  scale(1.05);
}
& .card-item:nth-child(2):hover{
  transition: 0.3s all;
  transform:  scale(1.05);
}
& .card-item:nth-child(3):hover{
  transition: 0.3s all;
  transform:  scale(1.05);
}
& .card-item:nth-child(4):hover{
  transition: 0.3s all;
  transform:  scale(1.05);
}
}
}


.sectio-exclusive{
width: 90%;
height: auto;
margin: auto;
margin-top: 90px;
& h1{
font-family: var(--primary-font);
}
& p{
font-family: var(--primary-font);
color: gray;
font-size: 20px;
}
& .contain-item{
margin-top: 20px;
width: 100%;
height: auto;
display: grid;
grid-template-columns: repeat(2,auto);
gap: 40px;
& .card-item{
height: 300px;
width: 100%;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 20px;
display: flex;
gap: 40px;
align-items: center;
padding-right: 30px;
& img{
width: 300px;
height: 100%;
object-fit: cover;
border-radius: 20px 0px 0px 20px;
}

& .card-txt{
width:  80%;
height: auto;
padding-bottom: 30px;
& .time{
width: auto;
height: auto;
display: flex;
align-items: center;
padding-top: 30px;
gap: 8px; 

& #icon{
color: var(--primary-color);
margin-top: 10px;
}
& p{
margin-top: 20px;
font-size: 14px;
color: var(--primary-color);
}
}

& h4{
font-size: 28px;
font-family: var(--primary-font);
padding-bottom: 10px;
}

& p{
padding-bottom: 10px;
}

& .price{
width: 100%;
height: auto;
display: flex;
justify-content: space-between;
align-items: center;
& del{
font-size: 25px;
font-family: var(--primary-font);
color: gray;
}
& p{
font-size: 30px;
color: var(--primary-color);
}

& button{
background-color: var(--primary-color);
color: white;
padding: 15px 30px;
border: none;
border-radius: 5px;
font-size: 16px;
}
& button:hover{
  transition: 0.7s all;
  background-color: blue;
}
}
}
}
& .card-item:hover{
  transition: 0.3s all;
  transform: scale(1.05);
}
}
}

.main-footer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 30px 30px;
 
  background-color: rgba(243, 243, 243, 0.822);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-top: 80px;
  display: flex;
  & .block{
    width: 450px;
    height: auto;
    margin-left: 90px;
    & .logo{
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      & img{
        width: 90px;
        height: 90px;
      }
      & h4{
        font-size: 23px;
        
      }
    }
    & p{
      font-size: 19px;
      color: gray;
      font-family: var(--primary-font);
      padding-left: 30px;
    }

    & .block-icon{
      width: auto;
      height: auto;
      padding-left: 27px;
      margin-top: 15px;
      display: flex;
      gap: 20px;
      & #icon{
        width: 35px;
        height: 35px;
        place-content: center;
        border: 1px solid rgba(141, 136, 136, 0.627);
        border-radius: 50%;
      }
    }
    
  }

  & .block:nth-child(2), .block:nth-child(3){
    padding-top: 29px;
    & h4{
      font-size: 23px;
    }
    & .link{
      width: auto;
      height: auto;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      & a{
        font-size: 18px;
        color: gray;
        text-decoration: none;
        transition: 0.3s all;
      }
      & a:hover{
        color: red
      }
    }
  }

  & .block:nth-child(4){
    width: 330px;
     padding-top: 29px;

      & h4{
      font-size: 23px;
    }

    & .para{
      margin-top: 20px;
      & p{
        padding-left: 0;
      }

      & form{
        margin-top: 20px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        & input{
          padding: 20px 20px;
          border-radius: 10px;
          outline: none;
          border: 1px solid gray;
          font-size: 20px;
        }
        & button{
          padding: 20px 20px;
          border-radius: 10px;
          border: none;
          background-color: var(--primary-color);
          font-size: 20px;
          color: white;
          cursor: pointer;
          transition: 0.7s all;
        }
        & button:hover{
          transition: 0.7s all;
          background-color: rgb(15, 15, 113);
        }
      }
    }
  }
}